.card {
    width: 100%;
    max-width: 80rem; 
    margin: 30px auto;
  }
  
  .card-image {
    width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 30px;
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  .card-text {
    margin-left: 10px;
  }
  