.card {
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.card-image {
    width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 30px;
}
.card-content {
    display: flex;
    align-items: center;
  }
  
  .card-text {
    margin-left: 10px; /* Add some spacing between the image and text */
  }