.bg-body-tertiary {
  background-color: #00B894;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  animation: spin 2s linear infinite;
}

.navbar-brand span {
  font-size: 2.1rem;
  font-weight: bolder;
  color: #104931;
  margin-left: -35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link {
  color: #1a1919 !important;
}

.nav-link:hover {
  background-color: #FFD700;
  color: #ffffff !important;
}

.navbar .btn-outline-success {
  border-color: #00B894;
  color: #ffffff !important;
}

.navbar .btn-outline-success:hover {
  background-color: #00B894;
  color: #FFFFFF;
  border-color: #00B894;
}
.navbar .d-flex.align-items-center {
  display: flex;
  align-items: center;
}

.navbar .d-flex.align-items-center .nav-link {
  margin-right: 15px;
}


.navbar img {
  margin-left:40px;
  width: 50px;
  height: 50px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.navbar img:hover {
  opacity: 0.9;
}
