.about-jobscouts {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-jobscouts h2 {
    font-size: 2.5rem;
    margin-top: 5%;
    font-weight: bold;
    color: #3e9175;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about-jobscouts p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #726f6f;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  
  .card {
    width: calc(20% - 20px);  
    margin-bottom: 20px;
  }
  