.about-jobscouts {
  justify-content: center;
  width: 75%;
  background-color: rgb(255, 255, 255);
}

.about-jobscouts h1 {
  font-family: Serif;
  text-align: center;
  color: #0e432a;
}

.about-jobscouts p{
  font: Sans-serif;
  text-align-last: auto;
  text-align:left;
  font-size: medium;
  padding-top: 5%;
  padding: auto;;
  margin: auto;
  line-height: 2;
}

.about-jobscouts button{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 30px;
}

.title-team{
  text-align: center;
  font-family:Serif ;
  font-size:large;
  gap:auto;
  color: #0e432a;
}

.title-team h1{
  font-size: 400%;
}
.card-container {
  
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px !important;
  padding-bottom: 5%;
  justify-self: unset;
  width: 80%;
  margin: auto;
  
}

.card-container h1 {
  font-family: "Poppins", Arial, sans-serif;
  text-align: center;
  text-decoration: solid;

}

.card {
  width: calc(20% - 20px);
  max-width: 300px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  height: 280px;
  object-fit: cover !important;
  border-radius: 8px 8px 0 0;
}

.card .card-title {
  font-size: 24px;
  font-weight: bold;
  color: #0e432a;
  text-align: center;
}

@media (max-width: 298px) {
  .card {
    width: calc(40% - 20px);
  }
}