.title {
    text-align: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.location p {
    margin: 0;
}

.job {
    text-align: center;
    font-weight: bolder;
}

.job span p {
    display: inline-block;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.custom-button {
    margin-right: 70px;
}
.logo
{
    width: 100px;
    height: 180px;
}
.btn
{
    background-color: #006c67 !important;
    border-radius: calc(24px) !important;
    border: 2px solid #006c67 !important;

}
.main
{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}