div .con {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  align-content: space-around;
}

.con .card {

  height: 500px;
  width: 300px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000000;
  transition: 0.4s ease-out;
  left: 0px;
  background-color: #8e8e8e;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(113, 110, 110) 0%, rgb(96, 212, 142) 35%, rgb(2, 54, 12) 100%); */
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: rgb(0, 0, 0);
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 230px;
}

.Maintitle{

  text-align: center;
  align-content: center;
  color: #006c67;
  font-weight: 500;
  position: absolute;
  /* left: 20px; */
  top: 230px;

}

.bar {
  position: absolute;
  top: 220px;
  left: 20px;
  height: 5px;
  width: 250px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 183, 255);
  background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgb(29, 237, 32) 65%, rgb(219, 12, 12) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 250px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: rgb(166, 255, 0);
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #000000;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.compImg {
  height: 215px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  /* border-radius: 30%; */
  position: relative;
  left: -60px;
  top: -150px;
}

/* Btn */

.button {
  display: inline-block;
  border-radius: calc(24px);
  background-color: #37593e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 2px 5px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  bottom: 10px;
  position: absolute;
  left: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}